@import 'variables';
@import 'normalize';

html {
	font-family: 'Patua One';
	background-color: $dark-brown;
	color: $cream;
	font-size: 1.5vw;
}
header {
	background-color: $cream;
	width: 100%;
	text-align: center;
	box-shadow:
		0 0.2em 0 $dark-brown,
		0 0.4em 0 $cream;
	h1 {
		background-color: $cream;
		color: $teal;
		text-shadow:
			0.02em 0.02em 0 $cream,
			0.05em 0.05em 0 $dark-brown;
		font-size: 5em;
		letter-spacing: 0.03em;
		padding: 0.4em 0;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
		position: relative;
    transition: width 0.5s, text-shadow 0.5s;
	}
}
.header-appear{
  width: 100%;
  text-shadow:
    0.05em 0.05em 0 $cream,
    0.05em 0.05em 0 $dark-brown;
}
.header-container{
	position: relative;
}
.header-decoration{
	position: absolute;
    width: 100%;
    height: 0.6em;
    top: 50%;
    border-top: 0.6em solid $dark-brown;
    border-bottom: 0.3em solid $teal;
}

/*Cups Slider*/
.cup-slider-bar{
  position: relative;
}
.slider-body {
  fill: $cream;
}
.slider-bar {
  fill: $teal;
}
.slider-data {
  fill: $medium-brown;
  transition: width 0.5s;
}
.header-left{
  left: 5%;
}
.header-right{
  right: 6%;
}
.slider-text {
  position: absolute;
  top: 53%;
  h2{
    margin: 0;
    color: $dark-brown;
    font-family: Patua One;
  }
}
.slider-dashed-line {
  fill: none;
  stroke: $dark-brown;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 5 6;
}
.today-span{
  span{
    position:absolute;
  }
}
.number-wrapper{
  position: relative;
  float: right;
}
.cups-slider-enter{
  transition: all 5s;
  transform: translateY(100%);
}
.cups-slider-enter.cups-slider-enter-active{
  transform: translateY(0);
}
.cups-slider-leave{
  transition: all 5s;
  left: 0;
  bottom: 0;
  transform: translateY(0);
}
.cups-slider-leave.cups-slider-leave-active{
  transform: translateY(-100%);
}

/* Chart Styles */
.chart-line{
  stroke: $teal;
  stroke-width: 3px;
  fill: none;
}
.x-label{
  fill: $cream;
  font-family: Patua One;
  font-size: 18px;
}
.y-label{
  fill: $dark-brown;
  font-family: Patua One;
  font-size: 18px;
}
.chart-body {
  fill: $cream;
}
.vertical-lines{
  stroke-miterlimit: 10;
  fill: none;
  stroke: $dark-brown;
  stroke-width: 2px;
}
.data-dot{
  cursor: default;
  .data-dot-outer {
  	fill: $cream;
    transition: r 0.5s;
    transition-delay: 0.15s;
  }
  .data-dot-inner{
    fill: $dark-brown;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    stroke: $teal;
    transition: r 0.5s, fill 0.5s, stroke-width 0.5s;
    transition-delay: 0.15s;
  }
  .data-dot-value{
    fill: $dark-brown;
    opacity: 0;
    font-family: Patua One;
    font-size: 18px;
    transition: opacity 0.35s;
  }
  &:hover{
    .data-dot-inner{
      r: 15;
      fill: $cream;
      stroke-width: 0;
      transition: r 0.5s, fill 0.5s, stroke-width 0.5s;
    }
    .data-dot-outer{
      r: 19;
      transition: r 0.5s;
    }
    .data-dot-value{
      opacity: 1;
      transition: opacity 0.35s;
      transition-delay: 0.15s;
    }
  }
}
.dashed-line {
  fill: none;
  stroke-miterlimit: 10;
  stroke: $dark-brown;
  stroke-width: 2px;
  stroke-dasharray: 5 11;
}
.decorative-line {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke: $cream;
}
.date-bar {
  fill: $medium-brown;
}
.chart-title {
  font-family: Patua One;
  font-size: 36px;
  fill: $dark-brown;
}
#weekly-data{
  width: 800px;
}
html{
  background-color: #6E3B33;
}

/* Cup Styles */
.cup-container{
  width: 400px;
  .fill-rectangle {
    fill: $dark-brown;
  }
  .matched-rectangle{
    height: 79%;
    transition: height 2s ease-in;
  }
  .matched-rectangle, .cup-body {
    fill: $cream;
  }
  &.animate-cup{
    .matched-rectangle{
      height: 0;
      transition: height 30s ease-out;
    }
  }
}